@use "../../partials/colors";

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px;
    // outline: 2px solid red;
    & img {
        width: 35%;
        height: 35%;
        border-radius: 30%;
        box-shadow: #2d6a4f2f 0px 54px 55px, #2d6a4f2f 0px -12px 30px, #2d6a4f2f 0px 4px 6px, #2d6a4f2f 0px 12px 13px, #2d6a4f2f 0px -3px 5px;
    }

    & .about_text {
        display: flex;
        flex-flow: column;
        // outline: 1px solid pink;
        align-items: center;
        width: 40%;
        & h1 {
            align-self: center;
            font-size: 70px;
            // outline: 1px solid pink;
            @include colors.default-abt-text-color;
        }

        & .about_p {
            // outline: 2px solid green;
            width: 50%;
            padding: 10px;
            @include colors.default-abt-text-color;
        }
    }
}
