.contact_div {
    background-color:#2d6a4f ;
    padding-bottom: 50px;
    margin-top: 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 40px;

    & h1 {
        align-self: center;
        font-size: 40px;
        font-style: italic;
    }
    & .contact_methods {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    & .contact {
        
        & img {
            width: 100px;
            height: 100px;
        }

        & p {
            align-self: center;
        }

        & a {
            align-self: center;
            color: white;
            font-weight: 400;
            display: flex;
            flex-flow: row wrap;
            gap: 20px;

            &:hover {
                cursor: pointer;
                filter: blur(1px);
            }
        }
    }
}

